/* General Styles */
.about-us {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 30px;
    max-width: 1200px;
  }
  
  .about-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .about-header h1 {
    font-size: 36px;
    color: #333;
  }
  
  .about-header p {
    font-size: 18px;
    color: #777;
  }
  
  /* Section Styles */
  .section-title {
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 28px;
    color: #333;
    border-bottom: 3px solid #04AA6D;
    padding-bottom: 5px;
  }
  
  .about-introduction,
  .about-mission,
  .about-team,
  .about-contact {
    margin-bottom: 40px;
  }
  
  .about-introduction p,
  .about-mission p,
  .about-contact p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
  }
  
  /* Team Section */
  .team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .team-member {
    text-align: center;
    margin: 20px;
  }
  
  .team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .team-member h3 {
    font-size: 20px;
    color: #333;
  }
  
  .team-member p {
    font-size: 16px;
    color: #777;
  }
  
  /* Contact Section */
  /* .about-contact .contact-link {
    display: inline-block;
    font-size: 18px;
    color: #04AA6D;
    text-decoration: none;
    border: 2px solid #04AA6D;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    align-items: center;
   
  }
  
  .about-contact .contact-link:hover {
    background-color: #04AA6D;
    color: white;
  }
   */

   /* Contact Section */
.about-contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-contact .contact-link {
  display: inline-block;
  font-size: 18px;
  color: #04AA6D;
  text-decoration: none;
  border: 2px solid #04AA6D;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.about-contact .contact-link:hover {
  background-color: #04AA6D;
  color: white;
}
